<template>
  <div :class="['r-input', { focused }]">
    <label>
      <span class="label" v-if="label">{{ label }}</span>
      <div class="input-container">
        <input
          :type="type"
          :placeholder="placeholder"
          :value="value"
          @input="onInput"
          @change="onChange"
          @focus="onFocus"
          @blur="onBlur"
          @keyup="onKeyup"
        />
      </div>
    </label>
  </div>
</template>

<script>
export default {
  props: {
    value: {
      default: "",
    },
    label: {
      default: "",
      type: String,
    },
    type: {
      default: "text",
      type: String,
    },
    placeholder: {
      default: "",
      type: String,
    },
  },
  data: () => ({
    focused: false,
  }),
  methods: {
    onInput(e) {
      this.$emit("input", e.target.value);
    },
    onChange(e) {
      this.$emit("change", e);
    },
    onFocus(e) {
      this.focused = true;
      this.$emit("focus", e);
    },
    onBlur(e) {
      this.focused = false;
      this.$emit("blur", e);
    },
    onKeyup(e) {
      this.$emit("keyup", e);
    },
  },
};
</script>

<style scoped lang="scss">
.r-input {
  box-shadow: 0 4px 8px rgba(gray, 0.2);
  width: 100%;
}
input {
  border: none;
  background: transparent;
  font-size: 1rem;
  padding: $p2 $p4;
  font-family: "Sans";
  width: 100%;
  color: $c1;
}
// .label,
// .description {
//   padding: 2px;
//   display: flex;
//   font-size: 0.86rem;
// }
.input-container {
  background: white;
  border-radius: $radius;
  display: flex;
  align-items: center;
  overflow: hidden;
}
</style>