<template>
  <div class="list">
    <div
      :class="['item', { isSelected: selectedItem === i }]"
      v-for="(item, i) in items"
      :key="i"
      @click="$emit('addTag')"
      @mouseenter="setSelectedItem(i)"
    >
      {{ item[searchKey] }}
    </div>
  </div>
</template>

<script>
export default {
  name: "List",
  props: ["items", "searchKey", "selectedItem"],
  methods: {
    setSelectedItem(i) {
      this.$emit("setSelectedItem", i);
    },
  },
};
</script>

<style scoped lang="scss">
.list {
  overflow: auto;
  max-height: 140px;
  @extend .overflow-scroll-bar;
}
.item {
  padding: $p2;
  cursor: pointer;
  border-radius: $radius;
  transition: all $duration;
  &:hover,
  &.isSelected {
    background: whitesmoke;
  }
}
</style>