<template>
  <div class="tag-input">
    <VPopover trigger="manual" :open="open" placement="bottom-start">
      <BaseTextInput
        v-model="search"
        placeholder="Add tags..."
        @blur="onBlur"
        @input="onInput"
        @keyup.40="onNextItem"
        @keyup.38="onPrevItem"
        @keyup.enter="addTag"
        @keyup.esc="onEsc"
      />
      <template #popover>
        <List
          :items="filteredList"
          :searchKey="searchKey"
          @addTag="addTag"
          :selectedItem="selectedItem"
          @setSelectedItem="(i) => (selectedItem = i)"
        />
      </template>
    </VPopover>
    <TagsList :tags="value" @deleteTag="onDeleteTag" />
  </div>
</template>

<script>
export default {
  name: "TagInput",
  props: ["list"],
  props: {
    list: {
      type: Array,
      default: [],
    },
    searchKey: {
      type: String,
      default: "label",
    },
    value: {
      type: Array,
      default: [],
    },
  },
  data: () => ({
    search: "",
    open: false,
    selectedItem: -1,
  }),
  methods: {
    onBlur() {
      // this.closeList();
    },
    onInput(e) {
      if (e) {
        this.openList();
      } else {
        this.closeList();
      }
      if (!this.filteredList.length) {
        this.closeList();
      }
    },
    onNextItem() {
      if (!this.open) return;
      if (this.selectedItem < this.filteredList.length - 1) {
        this.selectedItem++;
      }
    },
    onPrevItem() {
      if (!this.open) return;
      if (this.selectedItem > 0) {
        this.selectedItem--;
      }
    },
    onEsc() {
      this.selectedItem = -1;
      this.closeList();
    },
    addTag() {
      this.open && this.filteredList[this.selectedItem]
        ? this.emitTags([
            ...this.value,
            this.filteredList[this.selectedItem][this.searchKey],
          ])
        : this.search && this.emitTags([...this.value, this.search]);
      this.search = "";
      this.closeList();
    },
    emitTags(e) {
      this.$emit("input", e);
    },
    onDeleteTag(i) {
      this.$delete(this.value, i);
    },
    closeList() {
      this.open = false;
      this.selectedItem = -1;
    },
    openList() {
      this.open = true;
    },
  },
  computed: {
    filteredList() {
      return this.list.filter((item) => {
        return item[this.searchKey]
          .toLowerCase()
          .includes(this.search.toLowerCase());
      });
    },
  },
};
</script>

<style scoped lang="scss">
.tag-input {
  width: 100%;
  max-width: 400px;
}
</style>