<template>
  <div class="list">
    <div
      v-for="(item, i) in tags"
      :key="i"
      class="round item"
      @click="deleteTag(i)"
    >
      {{ item }}
    </div>
  </div>
</template>

<script>
export default {
  name: "TagsList",
  props: ["tags"],
  methods: {
    deleteTag(i) {
      this.$emit("deleteTag", i);
    },
  },
};
</script>

<style scoped lang="scss">
.list {
  display: flex;
  flex-wrap: wrap;
  gap: $p;
  padding: $p4 0;
}
.item {
  cursor: pointer;
  transition: all $duration;
  padding: 4px 12px;
  font-size: $fsmall;
  text-transform: capitalize;
  border-radius: 100px;
  background: rgba($prm, 0.1);
  color: $prm;
  text-align: center;
  display: inline-block;
  &:hover {
    color: $red;
    background: rgba($red, 0.2);
  }
}
</style>