*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  direction: ltr;
  text-decoration: none;
  outline: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

@font-face {
  font-family: "Sans";
  src: url("../fonts/NotoSans-Regular.ttf");
  font-size: 400;
}
@font-face {
  font-family: "Sans";
  src: url("../fonts/NotoSans-Bold.ttf");
  font-weight: bold;
}

a {
  text-decoration: none;
  color: var(--c1);
}
li {
  list-style: none;
}
body {
  font-family: "Sans", sans-serif;
}
img {
  width: 100%;
  height: 100%;
  object-position: center;
  object-fit: cover;
}
input {
  font-family: "Sans";
}

.nowrap {
  white-space: nowrap;
}
.trigger {
  width: 100% !important;
}
