.tooltip {
  display: block !important;
  z-index: 10000;

  .tooltip-inner {
    background: rgba(black, 0.8);
    color: darken(white, 5);
    border-radius: $radius;
    padding: $p $p2;
    font-size: $fsmall;
  }

  .tooltip-arrow {
    width: 0;
    height: 0;
    border-style: solid;
    position: absolute;
    margin: 5px;
    border-color: rgba(black, 0.8);
    z-index: 1;
    display: none;
  }

  &[x-placement^="top"] {
    margin-bottom: 5px;

    // .tooltip-arrow {
    //   border-width: 5px 5px 0 5px;
    //   border-left-color: transparent !important;
    //   border-right-color: transparent !important;
    //   border-bottom-color: transparent !important;
    //   bottom: -5px;
    //   left: calc(50% - 5px);
    //   margin-top: 0;
    //   margin-bottom: 0;
    // }
  }

  &[x-placement^="bottom"] {
    margin-top: 5px;

    // .tooltip-arrow {
    //   border-width: 0 5px 5px 5px;
    //   border-left-color: transparent !important;
    //   border-right-color: transparent !important;
    //   border-top-color: transparent !important;
    //   top: -5px;
    //   left: calc(50% - 5px);
    //   margin-top: 0;
    //   margin-bottom: 0;
    // }
  }

  &[x-placement^="right"] {
    margin-left: 5px;

    // .tooltip-arrow {
    //   border-width: 5px 5px 5px 0;
    //   border-left-color: transparent !important;
    //   border-top-color: transparent !important;
    //   border-bottom-color: transparent !important;
    //   left: -5px;
    //   top: calc(50% - 5px);
    //   margin-left: 0;
    //   margin-right: 0;
    // }
  }

  &[x-placement^="left"] {
    margin-right: 5px;

    // .tooltip-arrow {
    //   border-width: 5px 0 5px 5px;
    //   border-top-color: transparent !important;
    //   border-right-color: transparent !important;
    //   border-bottom-color: transparent !important;
    //   right: -5px;
    //   top: calc(50% - 5px);
    //   margin-left: 0;
    //   margin-right: 0;
    // }
  }

  &.popover {
    $color: white;
    .popover-inner {
      min-width: 200px;
      background: $color;
      color: $c1;
      border-radius: $radius;
      padding: $p;
      box-shadow: 0 5px 30px rgba(black, 0.1);
    }

    // .popover-arrow {
    //   border-color: $color;
    // }
  }

  &[aria-hidden="true"] {
    visibility: hidden;
    opacity: 0;
    transition: opacity $duration, visibility $duration;
  }

  &[aria-hidden="false"] {
    visibility: visible;
    opacity: 1;
    transition: opacity $duration;
  }
}
