:root {
  /* svg color 348AC8 */
  --prm: #0097e6;
  --red: #eb3b5a;
  --radius: 6px;
  --shadow: 0px 0px 6px 0px rgba(100, 100, 100, 0.2);
}

$duration: 0.3s;
$c1: #010101;
$b1: whitesmoke;
$prm: #0097e6;
$prm-light: rgba($prm, 0.2);
$btn-hover: rgba($prm, 0.3);
$red: #eb3b5a;
$radius: 6px;
$radius2: 16px;
$shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.1);
$lowShadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.1);

$p: 4px;
$p2: 8px;
$p4: 14px;
// $p5: 20px;
$p6: 22px;
// $p7: 28px;
$p8: 38px;
$bp: 8px 12px;

$flarge: 1.18rem;
$fxlarge: 1.25rem;
$fsmall: 0.86rem;
$fxsmall: 0.74rem;

.flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

.overflow-scroll-bar {
  &::-webkit-scrollbar {
    height: 4px;
    width: 4px;
    display: block;
  }
  &::-webkit-scrollbar-thumb {
    background: rgba(gray, 0.3);
    border-radius: 5px;
  }
}
