<template>
  <div class="home">
    <TagInput :list="list" v-model="tags" />
  </div>
</template>

<script>
export default {
  data: () => ({
    tags: [],
    list: [
      {
        id: "apple",
        label: "Apple",
      },
      {
        id: "gillette",
        label: "Gillette",
      },
      {
        id: "mastercard",
        label: "Mastercard",
      },
      {
        id: "the-walt-disney-company",
        label: "The Walt Disney Company",
      },
      {
        id: "facebook",
        label: "Facebook",
      },
      {
        id: "louis-vuitton",
        label: "Louis Vuitton",
      },
    ],
  }),
};
</script>

<style scoped lang="scss">
.home {
  display: flex;
  min-height: 100vh;
  background: $b1;
  @extend .flexCenter;
}
</style>
